/src/project.db
.idea
.pydevproject
.settings
.project
env*
public
apps_static
*.log
*.pot
*.pyc
sqlite3.db
*.db
wsgi_local*
settings_local.py
settings_meta.py
celery_local.py
logs/
smarty/
celerybeat-*
dump.rdb
media/rosoft
src/*
.cache
.coverage
.uwsgi.pid
db.sqlite3
/app_www/migrations/
.flake8
.isort.cfg